<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        /*<![CDATA[*/
        var gyrh17xbun8fftxoqkt = "V3d5YWEwa3pLamFxVDNOaXNDQnIzQWJrZUs5eDFiSEMIiPlod5i6sjxhxw2NmYF8gZ4fRSv302FkkMvzgCyKaQ==";
        /*]]>*/
    </script>
    <title>NSOCKS | Add payment</title>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="apple-touch-icon-precomposed" href="/img/favicon-152x152.png" sizes="152x152">
    <link href="/css2/bootstrap.min.css" rel="stylesheet">
    <script src="/js2/bootstrap.bundle.min.js"></script>
    <script src="/js2/jquery-3.6.0.min.js"></script>
    <link href="/css3/fixes.css" rel="stylesheet" id="style-default">
    <link href="/css3/flagss.css" rel="stylesheet" id="style-default">
    <link href="/css3/darktheme.css" rel="stylesheet" id="style-default-dark">
    <link href="/css2/bootstrap-icons.css" rel="stylesheet" id="style-default">
    <script type="text/javascript" src="/paginator/jquery.simplePagination.js"></script>
    <link type="text/css" rel="stylesheet" href="/paginator/simplePagination.css" />
</head>

<body data-theme="light" data-th="Not set!">



    <main class="main f16" id="top">
        <div class="container-fluid" data-layout="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div id="logo">
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="navbar-menu collapse d-md-block d-lg-block d-xl-block" id="menu">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/proxy">PROXY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/proxy/log">HISTORY
</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/payment/add">PAYMENTS
</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/support">SUPPORT
</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/service-rules">TERMS</a>
                        </li>
                    </ul>
                </div>
                <span class="navbar-text" id="user">
<a href="/payment/add" style="text-decoration: none;"><span class="user-balance" alt="0.00">$0.00</span></a>
                <a href="/account">edmund291 </a>
                <i class="color-theme mx-1 bi bi-moon-stars-fill" style="cursor: pointer;" title="Dark/Light theme"></i>
                <script>
                    document.userBalance = 0;
                </script>
                </span>
                <button class="navbar-toggler d-block d-sm-block d-md-none d-lg-none d-xl-none" id="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
            </nav>
            <div class="content">
                <div class="card mb-3">
                    <div class="card-body pt-0">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col-sm-9 col-xs-9 col-lg-6">
                                    <h4 class="payments">
                                        <span>Add payment</span>
                                        <a href="/payment/charges">Topups history</a>
                                        <a href="/payment">Expences history</a>
                                    </h4>
                                    <p> </p>
                                    <div class="alert alert-primary" role="alert">
                                        <h5>Your account is not active!</h5>
                                        To activate your account, please topup your account for <b>$50</b>. This amount will be added to your account balance, you can use it to buy proxies.
                                    </div>
                                    <h5>Your Bitcoin topup address</h5>
                                    <div class="alert alert-success btc-alert copy" role="alert">
                                        17RYfyK7cmRYPyCd73wuB3yRykX9BWHae9 <i class="bi bi-back" style="float:right; cursor:pointer;"></i>
                                    </div>
                                    <h5>Your Litecoin topup address</h5>
                                    <div class="alert alert-success btc-alert copy" role="alert">
                                        ltc1qtg4vny9ypdwm5nycmgqp0xx55m7fgqrfe8hpn8 <i class="bi bi-back" style="float:right; cursor:pointer;"></i>
                                    </div>
                                    <div class="alert alert-danger alert-dismissible " role="alert">
                                        <h5>Do not share your BTC/LTC addresses with anyone!</h5>
                                        Don't send a screenshot of this page to anyone! Otherwise you might lose your account!
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <h5>Topup Calculator</h5>
                                    <p><b>Course: 1 BTC = $<span class="btc_cource">...</span><input type="hidden" class="btc_cource_in">1 LTC = $<span class="ltc_cource">...</span><input type="hidden" class="ltc_cource_in"></b>
                                    </p>
                                    <div class="row mb-2">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="input-group">
                                                <div class="input-group-text">$</div>
                                                <input type="text" class="form-control usd_value" placeholder="USD Value" value="55">
                                            </div>
                                            <div class=" mt-2 mb-2">Payment amount</div>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <div class="input-group">
                                                <div class="input-group-text">in BTC</div>
                                                <input type="text" class="form-control btc_value" placeholder="BTC Value">
                                            </div>
                                            <a href="bitcoin:17RYfyK7cmRYPyCd73wuB3yRykX9BWHae9?amount=0.001" class="payment_link_btc btn btn-primary btn-block mt-2 mb-2">Pay with BTC</a>
                                        </div>
                                        <div class="col-xs-6 col-sm-4">
                                            <div class="input-group">
                                                <div class="input-group-text">in LTC</div>
                                                <input type="text" class="form-control ltc_value" placeholder="LTC Value">
                                            </div>
                                            <a href="litecoin:ltc1qtg4vny9ypdwm5nycmgqp0xx55m7fgqrfe8hpn8?amount=0.001" class="payment_link_ltc btn btn-primary btn-block mt-2 mb-2">Pay with LTC</a>
                                        </div>
                                    </div>
                                    <h5>Payment instructions</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Adding funds to your account confirms that you has read our <a href="/service-rules">Terms</a> and agree with our rules. You can add deposit of $50 with multiple payments. Upon first confirmation of the transaction,
                                            the payment amount is automatically added. </li>
                                        <li class="list-group-item">
                                            Once the first transaction has been confirmed, the payment amount will be added automatically. Due to slowdowns in the Bitcoin/Litecoin network, Service is not responsible for delays in money transfers.</li>
                                        <li class="list-group-item">
                                            The account will be credited with Bitstamp's exchange rate at the time of the first confirmation. If the payment doesn't update within 2 hours after recieving confirmation, please make a ticket to process us manually. You are welcome to change the topup
                                            address by contacting support.</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="newsModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Service notification & news</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6 id="news-title"></h6>
                    <div id="news-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>